/**
 * @define NewsList; use strict
 */

/* filter */

.NewsList-filter {
  border-bottom: 1px solid var(--colour-grey-light);
  margin-bottom: var(--gutter-double);
  padding-bottom: var(--gutter-double);
}

/* list */

.NewsList-item {
  margin-bottom: var(--gutter-quad);
}

@media (--medium) {
  .NewsList-item {
    margin-bottom: var(--gutter-double);
  }
}
