/**
 * @define ResultsList; weak
 */

/* Filters */

.ResultsList-filter {
  border-bottom: 1px solid var(--colour-grey-light);
  margin-bottom: var(--gutter-double);
}

@media (--full) {
  .ResultsList-filter {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Filters - categories */

.ResultsList-filterCategories {
  margin-bottom: var(--gutter);
}

.ResultsList-filterTitle {
  display: inline-block;
  line-height: var(--line-height-editorial);
}

.ResultsList-filterList {
  display: inline-block;
  margin-bottom: var(--gutter-quarter);
}

.ResultsList-filterItem {
  display: inline-block;
  line-height: var(--line-height-editorial);
  margin-right: 5px;
}

.ResultsList-filterLink {
  color: var(--colour-blue-dark);
}

.ResultsList-filterLink:hover {
  opacity: var(--opacity-hover);
}

.ResultsList-filterLink.is-inactive {
  color: var(--colour-grey-mid);
}

/* Filters - search */

.ResultsList-filterSearch {
  margin-bottom: var(--gutter-double);
  position: relative;
}

@media (--large) {
  .ResultsList-filterSearch {
    align-self: flex-end;
  }
}

/* Result list */

.ResultsList-item {
  position: relative;
}
