{% load templatehelpers %}
{% load highlight %}

<div class="ResultsList">
  <div class="ResultsList-filter">
    <div class="ResultsList-filterCategories">
      <p class="ResultsList-filterTitle">
        Categories:
      </p>
      <ul class="ResultsList-filterList">
        <li class="ResultsList-filterItem">
          <a
            class="ResultsList-filterLink {% if category != '' %}is-inactive{% endif %}"
          href="{% url 'results-index' %}{% if search %}?search={{search}}{% endif %}"
          >All</a>
        </li>

        {% for cat in categories %}
          <li class="ResultsList-filterItem">
            <a
              class="ResultsList-filterLink {% if cat.abbreviation != category %}is-inactive{% endif %}"
            href="{% url 'results-index' %}?category={{cat.abbreviation}}{% if search %}&amp;search={{search}}{% endif %}"
            >{{cat.abbreviation}}</a>
          </li>
        {% endfor %}
      </ul>
      <p class="ResultsList-filterTitle">
        Order:
      </p>
      <ul class="ResultsList-filterList">
        <li class="ResultsList-filterItem">
          <a
            class="ResultsList-filterLink {% if order != '' %}is-inactive{% endif %}"
          href="{% url 'results-index' %}{% if search %}?search={{search}}{% endif %}"
          >Date added</a>
        </li>
        <li class="ResultsList-filterItem">
          <a
            class="ResultsList-filterLink {% if order != 'race-date' %}is-inactive{% endif %}"
          href="{% url 'results-index' %}?order=race-date{% if search %}&amp;search={{search}}{% endif %}"
          >Race date</a>
        </li>
    </div>
    <div class="ResultsList-filterSearch" >
        {% include '../ListFilter/ListFilter.html' %}
    </div>
  </div>

  {% if results %}
    <ul class="ResultsList-list">
      {% for result in results %}
        {% cycle False True as alt silent %}
        <li class="ResultsList-item" id="result-{{result.id}}">
          {% include '../Result/Result.html' with result=result search=search alt=alt show_news_link=True %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="Editorial">
      <p>There are currently no results, check back soon</p>
    </div>
  {% endif %}
</div>
