<footer class="Footer">
  <div class="Footer-comms">
    <div class="Footer-commsWrap u-component">
      <div class="Footer-commsBlock">
        <h4 class="Footer-commsTitle">
          Contact_
        </h4>
        <p class="Footer-commsText">
          Get in touch
        </p>
        <a class="Footer-cta" href="/contact/">
          Contact us
        </a>
      </div>
      <div class="Footer-commsBlock">
        <h4 class="Footer-commsTitle">
          Keep up to date_
        </h4>
        <p class="Footer-commsText">
          Follow us on social media
        </p>
        <div class="Footer-socialList">
            {% include '../SocialList/SocialList.html' %}
        </div>
      </div>

    </div>
  </div>

  <div class="Footer-links">
    <div class="Footer-linksWrap u-component">
      <ul class="Footer-linksList">
        <li class="Footer-linksItem">
          <a class="Footer-link" href="/terms-of-use/">
            Terms of use
          </a>
        </li>
        <li class="Footer-linksItem">
          <a class="Footer-link" href="/privacy-notice/">
            Privacy Notice
          </a>
        </li>
      </ul>
      <p class="Footer-copyright">
        Copyright &copy; {% now "Y" %} Brighton Phoenix
      </p>
    </div>
  </div>
</footer>
